.container{
  width: 100%;
  height: 10vh;

  background-color: #E83828;

  border-bottom-right-radius: 25px;

  display: flex;
  align-items: center;
  padding: 0 20px;;

  justify-content: center;
}

.logoHeader{
    width: 50%;
}

.textoHeader{
    color:white;
    font-size: 64px;
    font-weight: 700;
}

.perfilHeader{
    width: 50%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nomeProfessorHeader{
    margin-right: 25px;
}

.textoNomeProfessorHeader{
    color:white;
    font-size: 18px;
}

