@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=LINE+Seed+JP:wght@400;700;800&display=swap');

@font-face {
  font-family: 'Google Sans';
  src: url('/fonts/GoogleSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


*{
box-sizing: border-box;
font-family: 'Google Sans', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: 'Google Sans', sans-serif;
}